<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventus - Wszystkie Twoje wydarzenia w jednym miejscu!</title>
    <th:block th:replace="~{includes/commonScripts :: head}"></th:block>
</head>
<body>
<p th:text="${msg}" th:if="${msg != null}"></p>
<h1>Eventus - Wszystkie Twoje wydarzenia w jednym miejscu!</h1>
<p th:if="${@userContextService.getLoggedAs() != null}" th:text="'Zalogowany jako: ' + ${@userContextService.getLoggedAs()}"></p>
<a th:href="@{/login}">Zaloguj</a>
<a th:href="@{/register}">Zarejestruj</a>
<div th:replace="~{includes/commonScripts :: end-of-body}"></div>
</body>
</html>